/.idea/.gitignore
/.idea/CivilizationRevisited.iml
/.idea/misc.xml
/.idea/modules.xml
/.idea/vcs.xml
/.idea/.name
/.idea/editor.xml
/Redist/Data/CIV/ADSCREEN.PIC
/Redist/Data/CIV/ARCH.PIC
/Redist/Data/CIV/ASOUND.CVL
/Redist/Data/CIV/BACK0A.PAL
/Redist/Data/CIV/BACK0A.PIC
/Redist/Data/CIV/BACK0M.PAL
/Redist/Data/CIV/BACK0M.PIC
/Redist/Data/CIV/BACK1A.PAL
/Redist/Data/CIV/BACK1A.PIC
/Redist/Data/CIV/BACK1M.PAL
/Redist/Data/CIV/BACK1M.PIC
/Redist/Data/CIV/BACK2A.PAL
/Redist/Data/CIV/BACK2A.PIC
/Redist/Data/CIV/BACK2M.PAL
/Redist/Data/CIV/BACK2M.PIC
/Redist/Data/CIV/BACK3A.PAL
/Redist/Data/CIV/BACK3A.PIC
/Redist/Data/CIV/BIRTH0.PAL
/Redist/Data/CIV/BIRTH0.PIC
/Redist/Data/CIV/BIRTH1.PAL
/Redist/Data/CIV/BIRTH1.PIC
/Redist/Data/CIV/BIRTH2.PAL
/Redist/Data/CIV/BIRTH2.PIC
/Redist/Data/CIV/BIRTH3.PAL
/Redist/Data/CIV/BIRTH3.PIC
/Redist/Data/CIV/BIRTH4.PAL
/Redist/Data/CIV/BIRTH4.PIC
/Redist/Data/CIV/BIRTH5.PAL
/Redist/Data/CIV/BIRTH5.PIC
/Redist/Data/CIV/BIRTH6.PAL
/Redist/Data/CIV/BIRTH6.PIC
/Redist/Data/CIV/BIRTH7.PAL
/Redist/Data/CIV/BIRTH7.PIC
/Redist/Data/CIV/BIRTH8.PAL
/Redist/Data/CIV/BIRTH8.PIC
/Redist/Data/CIV/BLURB0.TXT
/Redist/Data/CIV/BLURB1.TXT
/Redist/Data/CIV/BLURB2.TXT
/Redist/Data/CIV/BLURB3.TXT
/Redist/Data/CIV/BLURB4.TXT
/Redist/Data/CIV/CASTLE0.PIC
/Redist/Data/CIV/CASTLE1.PIC
/Redist/Data/CIV/CASTLE2.PIC
/Redist/Data/CIV/CASTLE3.PIC
/Redist/Data/CIV/CASTLE4.PIC
/Redist/Data/CIV/CBACK.PIC
/Redist/Data/CIV/CBACKS.PIC
/Redist/Data/CIV/CBACKS1.PIC
/Redist/Data/CIV/CBACKS2.PIC
/Redist/Data/CIV/CBACKS3.PIC
/Redist/Data/CIV/CBRUSH0.PIC
/Redist/Data/CIV/CBRUSH1.PIC
/Redist/Data/CIV/CBRUSH2.PIC
/Redist/Data/CIV/CBRUSH3.PIC
/Redist/Data/CIV/CBRUSH4.PIC
/Redist/Data/CIV/CBRUSH5.PIC
/Redist/Data/CIV/CHKLIST.CPS
/Redist/Data/CIV/CITYPIX1.PIC
/Redist/Data/CIV/CITYPIX2.PIC
/Redist/Data/CIV/CITYPIX3.PIC
/Redist/Data/CIV/CIV.EXE
/Redist/Data/CIV/CIVIL0.MAP
/Redist/Data/CIV/CIVIL0.SVE
/Redist/Data/CIV/CIVIL1.MAP
/Redist/Data/CIV/CIVIL1.SVE
/Redist/Data/CIV/CIVIL2.MAP
/Redist/Data/CIV/CIVIL2.SVE
/Redist/Data/CIV/CIVIL3.MAP
/Redist/Data/CIV/CIVIL3.SVE
/Redist/Data/CIV/CIVIL4.MAP
/Redist/Data/CIV/CIVIL4.SVE
/Redist/Data/CIV/CIVIL5.MAP
/Redist/Data/CIV/CIVIL5.SVE
/Redist/Data/CIV/CIVIL6.MAP
/Redist/Data/CIV/CIVIL6.SVE
/Redist/Data/CIV/CIVIL7.MAP
/Redist/Data/CIV/CIVIL7.SVE
/Redist/Data/CIV/CIVIL8.MAP
/Redist/Data/CIV/CIVIL8.SVE
/Redist/Data/CIV/CIVIL9.MAP
/Redist/Data/CIV/CIVIL9.SVE
/Redist/Data/CIV/CIVVER3.EXE
/Redist/Data/CIV/CREDITS.TXT
/Redist/Data/CIV/CUSTOM.PIC
/Redist/Data/CIV/DIFFS.PIC
/Redist/Data/CIV/DISCOVR1.PAL
/Redist/Data/CIV/DISCOVR1.PIC
/Redist/Data/CIV/DISCOVR2.PAL
/Redist/Data/CIV/DISCOVR2.PIC
/Redist/Data/CIV/DOCKER.PIC
/Redist/Data/CIV/EGRAPHIC.EXE
/Redist/Data/CIV/ERROR.TXT
/Redist/Data/CIV/FAME.DTA
/Redist/Data/CIV/FONTS.CV
/Redist/Data/CIV/GOVT0A.PIC
/Redist/Data/CIV/GOVT0M.PIC
/Redist/Data/CIV/GOVT1A.PIC
/Redist/Data/CIV/GOVT1M.PIC
/Redist/Data/CIV/GOVT2A.PIC
/Redist/Data/CIV/GOVT2M.PIC
/Redist/Data/CIV/GOVT3A.PIC
/Redist/Data/CIV/HELP.TXT
/Redist/Data/CIV/HILL.PAL
/Redist/Data/CIV/HILL.PIC
/Redist/Data/CIV/ICONPG1.PAL
/Redist/Data/CIV/ICONPG1.PIC
/Redist/Data/CIV/ICONPG2.PIC
/Redist/Data/CIV/ICONPG3.PIC
/Redist/Data/CIV/ICONPG4.PIC
/Redist/Data/CIV/ICONPG5.PIC
/Redist/Data/CIV/ICONPG6.PIC
/Redist/Data/CIV/ICONPG7.PIC
/Redist/Data/CIV/ICONPG8.PIC
/Redist/Data/CIV/ICONPGA.PAL
/Redist/Data/CIV/ICONPGA.PIC
/Redist/Data/CIV/ICONPGB.PIC
/Redist/Data/CIV/ICONPGC.PIC
/Redist/Data/CIV/ICONPGD.PIC
/Redist/Data/CIV/ICONPGE.PIC
/Redist/Data/CIV/ICONPGT1.PIC
/Redist/Data/CIV/ICONPGT2.PIC
/Redist/Data/CIV/INTRO.TXT
/Redist/Data/CIV/INTRO3.TXT
/Redist/Data/CIV/INVADER2.PIC
/Redist/Data/CIV/INVADER3.PIC
/Redist/Data/CIV/INVADERS.PIC
/Redist/Data/CIV/ISOUND.CVL
/Redist/Data/CIV/KING.TXT
/Redist/Data/CIV/KING00.PAL
/Redist/Data/CIV/KING00.PIC
/Redist/Data/CIV/KING01.PAL
/Redist/Data/CIV/KING01.PIC
/Redist/Data/CIV/KING02.PAL
/Redist/Data/CIV/KING02.PIC
/Redist/Data/CIV/KING03.PAL
/Redist/Data/CIV/KING03.PIC
/Redist/Data/CIV/KING04.PAL
/Redist/Data/CIV/KING04.PIC
/Redist/Data/CIV/KING05.PAL
/Redist/Data/CIV/KING05.PIC
/Redist/Data/CIV/KING06.PAL
/Redist/Data/CIV/KING06.PIC
/Redist/Data/CIV/KING07.PAL
/Redist/Data/CIV/KING07.PIC
/Redist/Data/CIV/KING08.PAL
/Redist/Data/CIV/KING08.PIC
/Redist/Data/CIV/KING09.PAL
/Redist/Data/CIV/KING09.PIC
/Redist/Data/CIV/KING10.PAL
/Redist/Data/CIV/KING10.PIC
/Redist/Data/CIV/KING11.PAL
/Redist/Data/CIV/KING11.PIC
/Redist/Data/CIV/KING12.PAL
/Redist/Data/CIV/KING12.PIC
/Redist/Data/CIV/KING13.PAL
/Redist/Data/CIV/KING13.PIC
/Redist/Data/CIV/KINK00.PIC
/Redist/Data/CIV/KINK03.PIC
/Redist/Data/CIV/LOGO.PIC
/Redist/Data/CIV/LOVE1.PIC
/Redist/Data/CIV/LOVE2.PIC
/Redist/Data/CIV/MAP.PIC
/Redist/Data/CIV/MGRAPHIC.EXE
/Redist/Data/CIV/MISC.EXE
/Redist/Data/CIV/NSOUND.CVL
/Redist/Data/CIV/NUKE1.PIC
/Redist/Data/CIV/PLANET1.PIC
/Redist/Data/CIV/PLANET2.PIC
/Redist/Data/CIV/POP.PIC
/Redist/Data/CIV/PRODUCE.TXT
/Redist/Data/CIV/READ.ME
/Redist/Data/CIV/RIOT.PIC
/Redist/Data/CIV/RIOT2.PIC
/Redist/Data/CIV/RSOUND.CVL
/Redist/Data/CIV/SAD.PIC
/Redist/Data/CIV/SETTLERS.PIC
/Redist/Data/CIV/SLAG2.PIC
/Redist/Data/CIV/SLAM1.PAL
/Redist/Data/CIV/SLAM1.PIC
/Redist/Data/CIV/SLAM2.PIC
/Redist/Data/CIV/SP256.PAL
/Redist/Data/CIV/SP257.PAL
/Redist/Data/CIV/SP257.PIC
/Redist/Data/CIV/SP299.PIC
/Redist/Data/CIV/SPACEST.PIC
/Redist/Data/CIV/SPRITES.PIC
/Redist/Data/CIV/STORY.TXT
/Redist/Data/CIV/TER257.PIC
/Redist/Data/CIV/TGRAPHIC.EXE
/Redist/Data/CIV/TORCH.PIC
/Redist/Data/CIV/TSOUND.CVL
/Redist/Data/CIV/WONDERS.PIC
/Redist/Data/CIV/WONDERS2.PIC
